#profButton {
  margin-top: 2vh;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 3vh;
  width: 10%;
  height: 2.2em;
}
#invite img {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-left: auto;
  margin-right: auto;
}
