.root {
  minheight: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  font-style: italic;
}

.quote-author {
  opacity: 0.8;
}

.content {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.page-button {
  min-width: 300px;
  max-width: 400px;
  border: 1px solid #94a3b8;
  background-color: #e2e8f0;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button3 {
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border: 1px solid #94a3b8;
  background-color: #e2e8f0;
  border-radius: 5px;
  cursor: pointer;
}

.button1{
  display:inline-block;
  padding:0.35em 1.2em;
  background-color: #ff04ea;
  border:0.1em solid #ffffff;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#ffffff;
  text-align:center;
  transition: all 0.2s;
}

.button1:hover{
  color:#ffffff;
  background-color:#ffffff00;
  border:0.1em solid #ffffff;
  
}

@media all and (max-width:30em){
.button1{
  display:block;
  margin:0.4em auto;
  }
}

.button2{
  display:inline-block;
  padding:0.35em 1.2em;
  background-color: #04b8ff;
  border:0.1em solid #ffffff;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#ffffff;
  text-align:center;
  transition: all 0.2s;
}

.button2:hover{
  color:#ffffff;
  background-color:#ffffff00;
  border:0.1em solid #ffffff;
  
}

@media all and (max-width:30em){
.button2{
  display:block;
  margin:0.4em auto;
  }
}
.page-button:hover {
  background-color: #cbd5e1;
}

.body {
  /*background-color: #282c34;
  color: #df80ff;*/
  background: linear-gradient(rgba(250, 0, 0, 0.5), transparent);
  background-color: rgb(153, 0, 255); /*this your primary color*/
  padding: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.form {
  width: 80%;
  margin: 0 auto;
}
label,
.input {
  /* In order to define widths */
  display: inline-block;
}
.label {
  width: 30%;
  /* Positions the label text beside the input */
  text-align: right;
}

.login {
  background: linear-gradient(rgba(250, 0, 0, 0.5), transparent);
  background-color: rgb(153, 0, 255); /*this your primary color*/
  height: 900px;
  width: 10000px;
  /*width: 400px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.font-link {
  font-family: "Bebas Neue", cursive;
}

.settings {
  text-align: right;
  background: transparent!important;
  background-color: none;

}
